
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background: #d9e2e9;
    background-attachment:fixed;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.navbar-default {
  background-color : #006D91 !important;
  border-color :     #006D91  !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.hText{
  color: #fff;
  font-size: 26px;
  line-height: 72px;
}