html {
    background-color: #80d5ee;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}




body {
    margin:0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif; font-weight:bold;
    font-size: 100%
    line-height: 1.5em;
    color: #545454;

    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}




img {

    display: block;

}


/* Page Specific Style */

::-webkit-scrollbar { 
    display: none; 
}		
                
    .wrapper {
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left:5px;
    white-space: nowrap;
    width: 320px;
   -webkit-overflow-scrolling: touch;


            
}
.wrapper span{ /*width:115px;*/display: inline-block; }



.container{
    position:relative;
    border-bottom:5px solid #80d5ee;
     background-color: #000000;
}
.details {
    bottom: 0;
    color: #FFFFFF;
    height: 50px;
    padding: 10px 10px 10px;
    position: absolute;
    width: 94.5%;
    font-family: 'Open Sans', sans-serif; font-weight:bold;
}
.wrap1{  
    float: left;

    margin-top:0px;
}

.trip-name {
   font-family: 'Open Sans', sans-serif; font-weight:bold;
     font-size: 1em;
    /*letter-spacing: 0.5px;*/
}
.trip-type span {
    float: left;
    margin-right: 4px;
}
.trip-type span.dot {
    font-size: 13px;
    font-weight: bold;
    line-height: 11px;
}
.trip-type {
    
    font-family: 'Open Sans', sans-serif; font-weight:400;
    font-size: 0.8em;
    line-height: 16px;
    /*letter-spacing:0.5px;*/
}

.wrap2{  
    
    float: right;
    margin-top: 15px; 
}
.price {
    
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size: 20px;
    /*letter-spacing: 0.5px;*/
}
.onwards {
    
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    /*letter-spacing: 0.5px;*/
    line-height: 12px;
    text-align: right;
}
.dolar{
    display: block;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    margin-right: 0px;
    margin-top: 3px;
}
.ratings {
    background: url("../img/iconsprite.png") repeat scroll 0 -2px rgba(0, 0, 0, 0);
    height: 15px;
    width: 66px;
    margin-bottom: 0px;
}
.one{
   background-position: -2px -56px;
}
.two{
    background-position: -2px -42px;
}
.three{
     background-position: -2px -29px;
}
.four{
    background-position: -2px -15px;
}

.five {
    background-position: -2px -2px;
}


/* Gradiant */
.gradiant-box{  
    bottom: 1px;
    height: 125px;
    position: absolute;
    width: 100%;}

.list-gradiant{

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


/* Thumb Image Theme */

.wrapper span.imgname {
    background: none repeat scroll 0 0 #F3F8FA;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 0;
    text-align: center;
    width: 116px;
   /* border-bottom:2px solid #007dbd;*/
    font-family: 'Open Sans', sans-serif; font-weight:bold;
    font-size: 11px;
    color: #074375;
    text-transform:uppercase;
}
/* append touch selected class */
.wrapper span.selected {
    border-bottom:2px solid #FF8A0C;
}

.ui-loader-verbose h1 {
    font-size: 1.5em !important;
    margin: 0;
	color: #f1f1f1 !important;
	font-weight: bold;
    text-align: center;
}


.selected {
    border-bottom:2px solid #FF8A0C;
}

.wrapper span.destimg-name {
    background: none repeat scroll 0 0 #F3F8FA;
    /*border-bottom: 2px solid #007DBD;*/
    color: #074375;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 119px;
}

.wrapper span.duration-name {
    background: none repeat scroll 0 0 #F3F8FA;
    /*border-bottom: 2px solid #007DBD;*/
    color: #074375;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
